@font-face {
  font-family: 'voltemedium';
  src: url('../fonts/volte-medium-webfont.eot');
  src: url('../fonts/volte-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/volte-medium-webfont.woff2') format('woff2'),
  url('../fonts/volte-medium-webfont.woff') format('woff'),
  url('../fonts/volte-medium-webfont.ttf') format('truetype'),
  url('../fonts/volte-medium-webfont.svg#voltemedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'voltemedium';
}

footer {
  height: 40px;
}

.navbar-brand {
  float: none;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
}

.navbar.navbar-default {
  border-bottom: 0;
}

.navbar-default .navbar-text.logo {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.navbar-default .navbar-text.contact,
.navbar-default .navbar-text.contact a {
  color: #333;
  padding: 0;
}

.navbar-default .navbar-text.contact a {
  text-decoration: underline;
}

.navbar-default .navbar-text small {
  vertical-align: super;
  font-weight: normal;
  font-size: 60%;
}

.navbar-brand img {
  max-width: 100%;
  height: 100%;
}

.navbar-nav.center {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li.active > a {
  color: white;
}

.navbar-default .navbar-nav > li.active:hover > a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: white;
}

.navbar-nav > li.active {
  text-decoration: underline;
}

.navbar-nav > li > a:hover {
  text-decoration: underline;
}

.content img {
  width: 100%;
}

.img-container {
  width: 100%;
  height: 100%;
}

.header-logo-left {
  max-height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
}
