/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

/* MEDIUM */
/* additional styles at bottom */
@font-face {
  font-family: 'voltemedium';
  src: url('../fonts/volte-medium-webfont.eot');
  src: url('../fonts/volte-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/volte-medium-webfont.woff2') format('woff2'),
  url('../fonts/volte-medium-webfont.woff') format('woff'),
  url('../fonts/volte-medium-webfont.ttf') format('truetype'),
  url('../fonts/volte-medium-webfont.svg#voltemedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  box-sizing: initial;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}



/* No styles for paragraphs */
p {
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

/* LAYOUT */
body {
  font-family: 'voltemedium';
  width: 100%;
  height: 100%;
  margin: 0 auto 5%;
}

header {
  margin: 0 auto;
  text-align: right;
  background-color: #E30E13;
}

/* NAVIGATION */

ul li {
  list-style: none;
}

li.header {
  font-size: 120%;
  font-weight: bold;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.logo-mobile-container {
  text-align: left;
  width: 40%;
  padding: 20px;
}

#toggle-navigation-label {
  padding-right: 15px;
  font-size: 2em;
  text-align: right;
}

#toggle-navigation {
  display: none;
}

#navigation {
  display: none;
}

#toggle-navigation:checked ~ #navigation {
  display: block;
}

.nav-wrapper {
  text-align: center;
  padding: 0 15px;
  background: white;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: block;
  font-size: 120%;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #E30E13;
}

.nav-item a {
  width: 100%;
  display: block;
}

/* CONTENT */
#column-left {
  display: none;
  width: 25%;
  height: 100%;
  background-color: #E30E13;
}

#column-right {
  width: 25%;
}

.container {
  width: 90%;
  height: 90%;
  margin: 5% auto;
}

.column {
  height: 100%;
  display: table-cell;
  vertical-align: top;
}

#column-center {
  width: 100%;
}

.content {
  margin: 0 auto;
  padding: 0 3%;
  text-align: justify;
}

/* IMAGES */
.logo-container {
  display: none;
  position: fixed;
  /*90% of 25% column width*/
  width: 22.5%;
  height: 100%;
  margin: 0 auto;
}

.image-wrapper {
  width: 210px;
  /* height: 250px; */
  margin: 0 1em 0.5em 0;
  clear: both;
}

.image-wrapper.left {
  margin: 0 1em 0.5em 0;
  float: left;
}
.image-wrapper.right {
  margin: 0 0 0.5em 1em;
  float: right;
}

.passphoto {
  width: 40%;
}

img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

@media only screen and (min-width: 28em) {

  .mobile-only {
    display: none;
  }

  #toggle-navigation-label {
    display: none;
  }

  #navigation {
    display: block;
  }

  .nav-item {
    width: initial;
    margin: 3%;
    padding: 5% 2% 0;
    display: inline-block;
  }

  .container {
    margin-top: 0;
  }

  .logo-container {
    display: block;
  }

  #column-left {
    display: block;
    float: left;
  }


}

/* MEDIUM */
@media only screen and (min-width: 28em) and (max-width: 60em) {

  header {
    width: 75%;
    margin: 0 0 0 25%;
    background-color: transparent;
  }

  #column-center {
    width: 75%;
  }

  #column-right {
    display: none;
  }

}

/* LARGE */
@media only screen and (min-width: 60em) {

  header {
    width: 50%;
    background-color: transparent;
  }

  #column-center {
    width: 50%;
  }

  #column-right {
    display: table-cell;
  }

}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
  .left-column, .right-column {
    width: 0;
  }

  .center-column {
    width: 100%;
  }
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
    http://www.sanbeiji.com/archives/953 */
box-shadow: none !important;
text-shadow: none !important;
}

a,
a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/*
 * Don't show links that are fragment identifiers,
 * or use the `javascript:` pseudo protocol
 */

a[href^="#"]:after,
a[href^="javascript:"]:after {
  content: "";
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/*
 * Printing Tables:
 * http://css-discuss.incutio.com/wiki/Printing_Tables
 */

thead {
  display: table-header-group;
}

tr,
img {
  page-break-inside: avoid;
}

img {
  max-width: 100% !important;
}

p,
h2,
h3 {
  orphans: 3;
  widows: 3;
}

h2,
h3 {
  page-break-after: avoid;
}
